.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.searchInput {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.submitBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
}

.searchInput,
.submitBtn {
  vertical-align: middle;
}

::placeholder {
  color: #999;
}